# Example environment variables for nextjs-startup

DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require&channel_binding=require"
NEXTAUTH_URL_INTERNAL=http://localhost:3000/
AUTH_SECRET="icb2N1q..." # Added by `npx auth`. Read more: https://cli.authjs.dev
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
MAILING_EMAIL="email@gmail.com"
MAILING_PASSWORD="0000 0000 0000"